.CH-col {
  color: #fff;
  font-weight: 500;
  background: $main-header-background;
}
.CH-col-fiat {
  border-top: 2px solid #457b2a;
  background: rgba(69, 123, 42, 0.5);
  color: #fff;
}
.CH-col-name {
  .ch-icons {
    width: 19px;
    height: 19px;
    margin: 1px 5px 1px 2px;
    display: inline-block;
    vertical-align: bottom;
    background-size: contain;
    // Generate base64 pixel (http://png-pixel.com/) incase image doesnt exist
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mN89x8AAuEB74Y0o2cAAAAASUVORK5CYII=);
  }
  strong {
    font-weight: bold;
  }
  .ch-symbol {
    color: #999;
  }
}
.CH-cell-html {
  > span {
    position: absolute;
    top: 2px;
  }
}
.CH-cell-hover {
  border: 1px solid $tippy-background!important;
}
.CH-tippy-cell-hover {
  width: 31px;
  height: 31px;
  background: $tippy-background;
  color: $tippy-text-color;
  .ch-icon {
    .fa-chevron-down {
      width: 31px;
      height: 31px;
      line-height: 31px;
      text-align: center;
      font-size: 16px;
    }
  }
}
