.CH-tippy-click-grid-exchanges {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  section {
    position: absolute;
    padding: 0!important;
    top: 30px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}
.lm_content {
  .CH-tippy-click-grid-exchanges {
    header {
      display: none;
    }
    section {
      top: 0;
    }
  }
}
