.CH-header {
  background: $primary-color-1;
  height: 50px;
  .ch-logo {
    position: relative;
    a {
      cursor: pointer;
    }
    h1 {
      color: #457b2a;
      margin: 0;
      padding: 0;
    }
    svg {
      width: 170px;
      position: absolute;
      top: 9px;
      left: 7px;
    }
  }
  .ch-updated {
    display: none;
    position: absolute;
    top: 17px;
    right: 73px;
    color: #ffffffcc;
  }
}
