@import 'variables';
@import 'reset';

@import '~@ag-grid-community/core/dist/styles/ag-grid.scss';
@import '~@ag-grid-community/core/dist/styles/ag-theme-balham/sass/ag-theme-balham.scss';

@import '~tippy.js/index.css';
@import '~tippy.js/themes/light.css';

@import 'media';
@import 'links';
@import 'CH-header';
@import 'CH-pos-abs-full';
@import 'CH-tippy-click';
@import 'CH-tippy-popdiv';
@import 'overide-tippy';
@import 'overide-tingle';
@import 'ag-grid/overide-filters';
@import 'ag-grid/overide-theme';
@import 'ag-grid/custom-globals';
@import 'ag-grid/custom-columns';

// @import '../javascript/libs/golden-layout/css/goldenlayout.css';

body {
  background: #080333; // Blue
  background: #6e1010; // Red
  background: #008080; // Teal
  background: #333; // Grey
  // background: #170d6a;
  // background: #6e1010;
  // background: #1d6e10;
  // background: #aaa;
}

.CH-main-gadget {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ch-fa-partial-checkbox {
  &:before {
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    content: '\25A3';
  }
}

.CH-layout {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #444;
  border-top: 5px solid #444;
}

[id^=gadget-container-] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
