.tippy-tooltip {
  .CH-col {
    background: $tippy-header-background;
    color: $tippy-header-text;
    font-weight: 500;
  }
}
.ag-theme-balham {
  .tippy-tooltip {
    .ag-root {
      border: none!important
    }
    .ag-header {
      background: $tippy-filter-background!important;
    }
    .ag-header-cell-label {
      width: 100%!important;
    }
  }
}
