* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
  background: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.5s ease;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

h1 {
  color: #333;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 40px;
  font-weight: 500;
  height: 46px;
  letter-spacing: -1px;
  line-height: 46.2px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 0;
  margin-top: 0;
  text-size-adjust: 100%;
}

h2 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 40px;
}
