$primary-color-1: #355e21;        // green

$grey-color-0: #fff;              // white
$grey-color-50: #808080;          // 50% grey
$grey-color-100: #000;            // black

$text-ticker-color-default: #000; // black
$text-ticker-color-good: #019c0d; // green
$text-ticker-color-bad: #e00909;  // red

$main-background: transparent;//#080333;
$main-header-background: #555;
// $main-header-background: scale-color(
//   $main-background,
//   $lightness: 20%,
//   $saturation: -25%
// );
$main-filter-background: $main-header-background;
// $main-filter-background: scale-color(
//   $main-background,
//   $lightness: 55%,
//   $saturation: -60%
// );
$main-filter-text: #fff;

//
// "Tippy" Popdiv and cell hover trigger
//
$tippy-background: #555;

$tippy-text-color: #fff;

$tippy-header-background: #555; //scale-color($tippy-background, $lightness: 20%);
$tippy-header-text: #fff;
$tippy-header-divider-color: #ffffff40;

$tippy-filter-background: #869c94; // scale-color($tippy-background, $lightness: 55%);

$tippy-cell-background: rgba($tippy-background, .2);

$link-color: #869c94;
$link-visited-color: #869c94;
$link-hover-color: #000;
$link-active-color: #869c94;
