$primary-color-1: #355e21;        // green

$grey-color-0: #fff;              // white
$grey-color-50: #808080;          // 50% grey
$grey-color-100: #000;            // black

$text-ticker-color-default: #000; // black
$text-ticker-color-good: #019c0d; // green
$text-ticker-color-bad: #e00909;  // red

$main-background: #355e21;
$main-header-background: scale-color(
  $main-background,
  $lightness: 20%,
  $saturation: -25%
);
$main-filter-background: scale-color(
  $main-background,
  $lightness: 55%,
  $saturation: -60%
);

//
// "Tippy" Popdiv and cell hover trigger
//
$tippy-background: #cfcfcf;
$tippy-text-color: #555;

$tippy-header-background: #cfcfcf; //scale-color($tippy-background, $lightness: 20%);
$tippy-header-text: #555;

$tippy-filter-background: #cfcfcf; // scale-color($tippy-background, $lightness: 55%);

$tippy-cell-background: rgba($tippy-background, .2);
