// Dark green
// #241D24
// #243239
// #0B504B
// #087B6E
// #52B2A0
// #BEE4D9
// Light green

$primary-color-1: #355e21;        // green

$grey-color-0: #fff;              // white
$grey-color-50: #808080;          // 50% grey
$grey-color-100: #000;            // black

$text-ticker-color-default: #000; // black
$text-ticker-color-good: #019c0d; // green
$text-ticker-color-bad: #e00909;  // red

//
// interactive
// error
// success
//
