div(id=id class='BO-search-dropdown')
  input(type='text' placeholder=placeholder data-name=name)
  div(class='bo-dropdown' style={
    'width': width ? width + 'px' : '200px',
    'max-height': height ? height + 'px' : '200px'
  })
