div(class='BO-tingle BO-cookie-details')

  header
    h2 Cookies

  section
    p This website makes use of cookies to enhance browsing experience and provide additional functionality. None of this data can or will be used to identify or contact you.

    p This website makes use of third party cookies, see the details in the privacy policy.

    p This website makes use of tracking cookies, see the details in the privacy policy.

    p To learn more about how this website uses cookies or localStorage, please read our #[a(href='https://binaryoverdose.com/privacy.html' target='_blank') PRIVACY POLICY].

    p By using this site you give your permission to this website to store small bits of data on your device.

    p To learn more about cookies and localStorage, visit #[a(href='https://ico.org.uk/for-organisations/guide-to-pecr/cookies-and-similar-technologies/' target='_blank') Information Commissioner's Office].

  footer
