.CH-tippy-click-tv {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  section {
    position: absolute;
    padding: 0!important;
    top: 28px;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
