div(class="CH-header")
  div(class="ch-logo")
    h1
      a(href="/" title="Home")
        svg(width="170" height="32" class="ch-logo")
          image(xlink:href="/images/logo_white.svg" width="170" height="32")
  span(class="CH-toolbar CH-hook-toolbar")
  span(class="ch-updated")
div(id="ch-grid" class="ag-theme-balham")
