div(class='BO-edit-dialogue')

  header
    h2 #{header.title}
    div #{header.subtitle}

  section

    table
      tr
        th
          header Available
          div(class='bo-search')
            i(class='fas fa-window-close')
            input(type='text' placeholder='Search')
        th
          header Displayed
          div(class='bo-search bo-placeholder')
            input(type='text')
      tr
        td(rowspan=2 class='bo-left')
          div(id='tree')
        td(style="height: 1px; display: none")
          ul(class='bo-active-columns-frozen')
            each column in frozenColumns
              li(data-id=column.id)
                span(class='bo-column') #{column.title}
      tr
        td
          div(id='tree2' class='bo-right' style='margin-top: -1px')
      tr
        td
          div(class='bo-footer')
            button(class='BO-btn bo-btn-secondary bo-add-matches bo-btn-disabled') Add Matches
            button(class='BO-btn bo-btn-secondary bo-clear-matches bo-btn-disabled') Clear Matches
            | (#[span(class='bo-matches') 0] Matches)
        td
          div(class='bo-footer')
            button(class='BO-btn bo-btn-secondary bo-clear-selections') Clear Selections

  footer
