.BO-btn {
   display: inline-block;
   margin: 0 .5rem;
   padding: 1rem 2rem;
   border: none;
   background-color: grey;
   box-shadow: none;
   color: #fff;
   vertical-align: middle;
   text-decoration: none;
   font-size: inherit;
   font-family: inherit;
   line-height: normal;
   cursor: pointer;
   transition: background-color .4s ease;
   &.bo-btn-secondary {
     background-color: #808080;
   }
   &.bo-btn-primary {
     background-color: #3498db;
   }
}

.tingle-modal-box__content {
  padding: 0!important;
}

.BO-edit-dialogue {

  > header {
    margin: 0 0 20px 0;
    padding: 20px;
    background: #73965d;
    color: #fff;
  }
  header {
    h2 {
      font-size: 32px;
    }
    div {
      font-size: 14px;
    }
  }

  section {

    padding: 20px;

    table {
      width: 100%;
      height: 500px;
      th {
        align: center;
      }
      td {
        width: 50%;
        height: 100%;
        margin: 0;
        padding: 0;
        vertical-align: top;
      }
    }

    li {
      position: relative;
      display: block;
      padding: .75rem 1.25rem;
      margin-bottom: -1px;
      border: 1px solid rgba(0,0,0,.125);
      cursor: move;
    }
    header {
      margin: 0 0 10px 0;
      font-weight: 600;
    }

    .bo-available-columns {
      margin-right: 10px;
      li {
        background-color: #eee;
        &:hover {
          background-color: #fff;
        }
      }
    }

    .bo-active-columns {
      min-height: 500px;
      li {
        background-color: #fff;
        &:hover {
          background-color: #eee;
        }
      }
    }

    .bo-active-columns-frozen {
      li {
        background-color: #eee!important;
        color: #999;
        cursor: default;
      }
    }

    .bo-available-columns,
    .bo-active-columns {
      height: 100%;
      background: #f1f1f1;
      overflow-y: scroll;
    }

    .bo-ghost {
      /* opacity: .5; */
      /* background: #eee!important; */
    }

    .bo-chosen {
      background: #C8EBFB!important;
    }

  }
}
