div(class='BO-edit-dialogue')

  header
    h2 #{header.title}
    div #{header.subtitle}

  section

    table
      tr
        th
          header Available Columns
        th
          header Displayed Columns
      tr
        td(rowspan=2 class='bo-left')
          div(id='tree')
        td(style="height: 1px")
          ul(class='bo-active-columns-frozen')
            each column in frozenColumns
              li(data-id=column.id)
                span(class='bo-column') #{column.title}
      tr
        td
          div(id='tree2' class='bo-right')

  footer
