.BO-multiselect {

  width: 200px;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;

  .bo-selectBox {
    position: relative;
    margin: 0!important;
    select {
      width: 100%;
      font-weight: bold;
    }
    .bo-overSelect {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }

  .bo-overselect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .bo-checkboxes {
    display: none;
    position: absolute;
    border: 1px #dadada solid;
    min-width: 300px;
    background: #fff;
    max-height: 170px;
    overflow-x: auto;
    line-height: 18px;
    z-index: 1;
    label {
      display: block;
      padding: 3px 5px;
      &:hover {
        background-color: #1e90ff;
      }
    }

  }

}

/* Fancytree puts in at root */
#fancytree-drop-marker {
  z-index: 9999!important;
  color: #73965d!important;
}

/* Move to common */
@keyframes yellowfade {
  from { background: yellow; }
  to { background: transparent; }
}

/* Move to common */
.BO-btn {
   display: inline-block;
   margin: 0 .5rem;
   padding: 1rem 2rem;
   border: none;
   background-color: grey;
   box-shadow: none;
   color: #fff;
   vertical-align: middle;
   text-decoration: none;
   font-size: inherit;
   font-family: inherit;
   line-height: normal;
   cursor: pointer;
   transition: background-color .4s ease;
   &.bo-btn-secondary {
     background-color: #808080;
   }
   &.bo-btn-primary {
     background-color: #3498db;
   }
   &.bo-btn-disabled {
     background-color: #d6d6d6;
   }
}

/* Tingle puts this at root */
.tingle-modal-box {
  min-width: 1366px;
  min-height: 768px;
  height: 90%;
  width: 90%;
  .tingle-modal-box__content {
    padding: 0!important;
    height: calc(100% - 95px); /* footer is 95px */
  }
}

.BO-edit-dialogue {

  counter-reset: columns;
  height: 100%;

  > header {
    margin: 0 0 20px 0;
    padding: 20px;
    background: #73965d;
    color: #fff;
  }

  header {
    h2 {}
    div {
      font-size: 14px;
    }
  }

  button {
    margin: 5px 5px 0 0;
    padding: 5px;
  }

  h4 {
    margin: 0 0 20px 0;
  }

  .bo-custom {
    display: block;
    line-height: 18px;
    textarea {
      display: block; padding: 5px; width: 100%; position: relative; height: 60px;
    }
    button {
      height: 20px;
      line-height: 7px;
    }
    div {
      white-space: normal;
      span {
        display: block;
      }
    }
    .bo-step1, .bo-step2, .bo-step3 {
      margin: 0 0 20px 20px;
      span {
        display: inline-block;
        margin-bottom: 5px;
      }
    }
    .bo-step1 {
      input {
        display: block;
        width: 200px;
      }
    }
    .bo-step2 {
      .BO-multiselect {
        display: block;
      }
      .bo-added {
        margin: 0 0 15px 0;
        background: #f1f1f1;
        padding: 10px;
        li {
          display: block;
        }
      }
      select {
        width: 200px;
      }
    }
    .bo-step3 {}
  }

  .bo-options {
    input {
      margin-left: 20px;
    }
  }

  .bo-search {
    width: 100%;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: left;

    &.bo-placeholder {
      visibility: hidden;
    }

    input {
      width: 100%;
      height: 30px;
    }

    .fa-window-close {
      position: absolute;
      bottom: 18px;
      right: 8px;
      color: #eee;
      cursor: pointer;
    }

    &:hover {
      .fa-window-close {
        color: #555;
        &:hover {
          color: #f00;
        }
      }
    }

    .bo-matches {}

  }

  section {

    padding: 20px;
    height: calc(100% - 110px);

    table {
      width: 100%;
      height: 100%;
      header {
        font-family: 'Alegreya Sans SC', sans-serif;
        margin: 0 0 10px 0;
        font-size: 20px;
        height: 30px;
      }
      th {
        align: center;
        position: relative;
      }
      td {
        width: 50%;
        height: 100%;
        margin: 0;
        padding: 0;
        vertical-align: top;
        position: relative;

        .drag-source {
          border: 1px solid grey;
          border-radius: 3px;
          padding: 2px;
          background-color: silver;
        }

        #tree, #tree2 {
          overflow-y: scroll;
          border: 1px dotted gray;
          .fancytree-container {
            border: none;
          }
          .fancytree-title {
            cursor: default;
            &:focus {
              outline: none!important;
            };
          }
          ul:focus, li:focus {
            outline: none;
          }

        }

        #tree {
          position: absolute;
          right: 0;
          left: 0;
          top: 0;
          bottom: 0;
          .fancytree-checkbox::before {
            background: #fff;
          }
          ul.fancytree-container {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: block;
            width: auto;
            padding: 0;
            li {
              position: relative;
              background-color: #fff;
              border-bottom: 1px solid #eee;
              &:hover {
                background-color: #73965d55;
                .fa-caret-down,
                .fa-caret-right {
                  background-color: #ffffff55;
                }
                .fancytree-checkbox {
                  background-color: #ffffff55;
                }
              }
              > span > {
                .fa-caret-down,
                .fa-caret-right {
                  position: relative;
                  display: inline-block;
                  padding: 15px 15px 15px 10px;
                  margin: 0 0 0 5px;
                  cursor: pointer;
                  vertical-align: middle;
                  line-height: 0;
                  border-right: 1px solid #00000022;
                }
                .fancytree-checkbox {
                  position: relative;
                  display: inline-block;
                  padding: 15px 22px 15px 8px;
                  font-size: 16px;
                  line-height: 0;
                  margin: 0;
                }
              }
            }
            .fancytree-folder {
              padding: 5px 0 5px 0;
              cursor: default;
            }
            ul[role=group] {
              padding: 0;
              border-top: 1px solid #eee;
              li {
                position: relative;
                display: block;
                padding: 0 5px 0 43px;
                margin-bottom: -2px;
                cursor: default;
                border-top: 1px solid #eee;
                &:first-child {
                  border-top: none;
                }
                .fancytree-node {
                  padding: 5px 0 5px 0;
                }
              }
            }
          }
          .fancytree-title {
            line-height: 26px;
            cursor: default;
          }

        }

        #tree2 {
          position: absolute;
          right: 0;
          left: 0;
          top: 0;
          bottom: 0;
          .fancytree-expanded {
            background: #73965d!important;
            .fancytree-expander {
              color: #fff;
            }
            .fancytree-title {
              color: #fff!important;
            }
          }
          .fancytree-expanded.bo-edit-item-hide {
            background: #555!important;
            .fancytree-expander {
              color: #fff;
            }
            .fancytree-title {
              color: #fff!important;
            }
            &+[role=group] {
              border-bottom: 1px solid #555!important;
            }
          }
          ul[role=group] {
            margin: 0 1px;
            background: rgb(248, 248, 248);
            border-bottom: 1px solid rgb(115, 150, 93);
            box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 5px 0px inset;
          }
          li li {
            /* .fancytree-title::before { */
            /*   content: ''; */
            /*   position: absolute; */
            /*   background: #73965d22; */
            /*   left: 1px; */
            /*   top: 0; */
            /*   bottom: -1px; */
            /*   font-size: 20px; */
            /*   line-height: 30px; */
            /*   width: 10px; */
            /* } */
            .fancytree-expander {
              padding-left: 0;
              margin-left: -5px;
            }
          }
          > ul > li > {
            ul .bo-edit-item {
              input {
                position: relative;
                top: 2px;
                margin-right: 5px;
              }
              /* &:hover { */
              /*   background-color: #fff; */
              /* } */
              &::before {
                position: absolute;
                background: #73965d55;
                padding: 5px 8px 5px 5px;
                left: 0;
                top: 0;
                bottom: 0;
                font-size: 20px;
                line-height: 30px;
                text-align: center;
                width: 23px;
              }
            }
            .bo-edit-item-show .fancytree-title::before {
              counter-increment: columns;
              content: counter(columns);
              position: absolute;
              background: #73965d;
              color: #fff!important;
              padding: 5px 8px 5px 5px;
              left: 0;
              top: 0;
              bottom: 0;
              font-size: 20px;
              line-height: 30px;
              text-align: center;
              width: 23px;
            }
            .bo-edit-item-hide {
              background: #eee!important;
              .fancytree-title {
                color: #555;
                font-style: italic;
                &::after {
                  content: 'Hidden';
                  display: block;
                  width: 55px;
                  height: 20px;
                  background: #555;
                  position: absolute;
                  right: 35px;
                  top: 11px;
                  color: #fff;
                  text-align: center;
                  line-height: 19px;
                  border-radius: 4px;
                }
              }
            }
            ul .bo-edit-item-hide {
              /* background: #eee; */
              &:hover {
                /* background-color: #eee; */
              }
            }
            .fancytree-node {
              animation-name: yellowfade;
              animation-duration: 0.5s;
              background-color: #fff;
              position: relative;
              display: block;
              margin-bottom: -1px;
              border: 1px solid #eee;
              cursor: default;
              margin-top: 0;
              &:hover {
                background-color: #73965d55;
                .fancytree-title::before {
                  color: #73965d;
                }
              }
            }
            .fancytree-expander.fa-caret-right {
              color: #eee;
            }
          }
          .fancytree-expander {
            display: inline-block;
            padding: 15px 15px 15px 46px;
            margin: 0 0 0 5px;
            cursor: pointer;
            vertical-align: middle;
            line-height: 0;
            position: relative;
            top: 5px;
          }

          .fancytree-title {
            padding: 12px 5px 12px 0;
            right: 0;
            left: 0;
            display: inline-block;
            width: calc(100% - 70px);
          }

          .fancytree-container {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: block;
            width: auto;
            padding: 0;
            ul {
              padding: 0;
            }
            li li .fa-window-close {
              display: none!important;
            }
          }
          .fancytree-node {
            position: relative;
          }
          .fa-window-close {
            position: absolute;
            right: 10px;
            top: 12px;
            cursor: pointer;
            font-size: 18px;
          }
          .fa-window-close:hover {
            color: #f00;
          }
        }

      }

      .bo-footer {

        margin: 5px 0 0 0;

        .bo-btn-secondary {
          padding: 7px;
          margin: 0 5px 0 0;
        }

      }

    }

    .bo-active-columns-frozen {
      li {
        background-color: #fff!important;
        color: #999;
        cursor: default;
        border: 1px dotted #999;
        border-bottom: transparent;
        list-style: none;
      }
      .bo-column {
        padding: 12px 5px 12px 17px;
        display: block;
        margin: 0 0 0 3px;
      }
    }

    .fancytree-treefocus .fancytree-active .fancytree-title {
      background-color: transparent!important;
      outline: none!important;
      color: inherit!important;
    }

    .fancytree-active .fancytree-title {
      background-color: transparent!important;
    }

  }

}
