@keyframes yellowfade {
  from { background: yellow; }
  to { background: transparent; }
}

#fancytree-drop-marker {
  z-index: 9999!important;
  color: #73965d!important;
}

.BO-btn {
   display: inline-block;
   margin: 0 .5rem;
   padding: 1rem 2rem;
   border: none;
   background-color: grey;
   box-shadow: none;
   color: #fff;
   vertical-align: middle;
   text-decoration: none;
   font-size: inherit;
   font-family: inherit;
   line-height: normal;
   cursor: pointer;
   transition: background-color .4s ease;
   &.bo-btn-secondary {
     background-color: #808080;
   }
   &.bo-btn-primary {
     background-color: #3498db;
   }
   &.bo-btn-disabled {
     background-color: #d6d6d6;
   }
}

.tingle-modal-box__content {
  padding: 0!important;
}

.BO-edit-dialogue {

  counter-reset: columns;

  > header {
    margin: 0 0 20px 0;
    padding: 20px;
    background: #73965d;
    color: #fff;
  }

  header {
    h2 {}
    div {
      font-size: 14px;
    }
  }

  button {
    margin: 5px 5px 0 0;
    padding: 5px;
  }

  .bo-right .fancytree-title::before {
    counter-increment: columns;
    content: counter(columns);
    position: absolute;
    background: #eee;
    color: #ccc;
    padding: 5px 8px 5px 5px;
    left: 0;
    top: 0;
    bottom: 0;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    width: 23px;
  }

  .bo-search {
    width: 100%;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: left;

    &.bo-placeholder {
      visibility: hidden;
    }

    input {
      width: 100%;
      height: 30px;
    }

    .fa-window-close {
      position: absolute;
      bottom: 18px;
      right: 8px;
      color: #eee;
      cursor: pointer;
    }

    &:hover {
      .fa-window-close {
        color: #555;
        &:hover {
          color: #f00;
        }
      }
    }

    .bo-matches {}

  }

  section {

    padding: 20px;

    table {
      width: 100%;
      height: 500px;
      header {
        font-family: 'Alegreya Sans SC', sans-serif;
        margin: 0 0 10px 0;
        font-size: 20px;
        height: 30px;
      }
      th {
        align: center;
        position: relative;
      }
      td {
        width: 50%;
        height: 100%;
        margin: 0;
        padding: 0;
        vertical-align: top;
        position: relative;

        .drag-source {
          border: 1px solid grey;
          border-radius: 3px;
          padding: 2px;
          background-color: silver;
        }

        .fancytree-container {
        }

        #tree {
          position: absolute;
          right: 0;
          left: 0;
          top: 0;
          bottom: 0;
          .fancytree-checkbox::before {
            background: #fff;
          }
          ul.fancytree-container {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: block;
            width: auto;
            padding: 0;
            li {
              position: relative;
              background-color: #eee;
              &:hover {
                background-color: #73965d55;
                .fa-caret-down,
                .fa-caret-right {
                  background-color: #ffffff55;
                }
                .fancytree-checkbox {
                  background-color: #ffffff55;
                }
              }
              > span > {
                .fa-caret-down,
                .fa-caret-right {
                  position: relative;
                  display: inline-block;
                  padding: 15px 15px 15px 10px;
                  margin: 0 0 0 5px;
                  cursor: pointer;
                  vertical-align: middle;
                  line-height: 0;
                  border-right: 1px solid #00000022;
                }
                .fancytree-checkbox {
                  position: relative;
                  display: inline-block;
                  padding: 15px 22px 15px 8px;
                  font-size: 16px;
                  line-height: 0;
                  margin: 0;
                }
              }
            }
            .fancytree-folder {
              padding: 5px 0 5px 0;
              cursor: default;
            }
            overflow-y: scroll;
            ul[role=group] {
              padding: 0;
              li {
                position: relative;
                display: block;
                padding: 0 5px 0 43px;
                margin-bottom: -1px;
                border-top: 1px solid #f9f9f9;
                cursor: default;
                .fancytree-node {
                  padding: 5px 0 5px 0;
                }
              }
            }
          }
          .fancytree-title {
            line-height: 26px;
          }

        }

        #tree2 {
          position: absolute;
          right: 0;
          left: 0;
          top: 0;
          bottom: 0;
          ul.fancytree-container {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: block;
            width: auto;
            overflow-y: scroll;
            padding: 0;
            li {
              .fancytree-node {
                animation-name: yellowfade;
                animation-duration: 0.5s;
                background-color: #fff;
                position: relative;
                display: block;
                margin-bottom: -1px;
                border: 1px solid #eee;
                cursor: default;
                margin-top: 0;
                &:hover {
                  background-color: #73965d55;
                  .fancytree-title::before {
                    color: #73965d;
                  }
                }
              }
            }
          }
          .fancytree-node {
            position: relative;
          }
          .fa-window-close {
            position: absolute;
            right: 10px;
            top: 13px;
            cursor: pointer;
            font-size: 18px;
          }
          .fa-window-close:hover {
            color: #f00;
          }
          .fancytree-title {
            padding: 12px 5px 12px 45px;
          }
          .fancytree-expander {
            display: none;
          }
        }

      }

      .bo-footer {

        margin: 5px 0 0 0;

        .bo-btn-secondary {
          padding: 7px;
          margin: 0 5px 0 0;
        }

      }

    }

    .bo-active-columns-frozen {
      li {
        background-color: #fff!important;
        color: #999;
        cursor: default;
        border: 1px dotted #999;
        border-bottom: transparent;
        list-style: none;
      }
      .bo-column {
        padding: 12px 5px 12px 17px;
        display: block;
        margin: 0 0 0 3px;
      }
    }

    .fancytree-treefocus .fancytree-active .fancytree-title {
      background-color: transparent!important;
      outline: none!important;
      color: inherit!important;
    }

    .fancytree-active .fancytree-title {
      background-color: transparent!important;
    }

  }

}
