.cryptohub-analytics-priceGroup {
  background: #176087;
  color: #fff;
}

.cryptohub-analytics-supplyGroup {
  background: #189155;
  color: #fff;
}

.cryptohub-analytics-technicalGroup {
  background: #c18610;
  color: #fff;
}

.cryptohub-analytics-fundamentalsGroup {
  background: #871616;
  color: #fff;
}

.cryptohub-analytics-linksGroup {
  background: #601DAD;
  color: #fff;
}

.cryptohub-align-right {
  text-align: right;
}
