h1 {
  color: rgb(51, 51, 51) ;
  font-family: 'Major Mono Display', monospace;
  font-size: 40px;
  font-weight: 500;
  height: 46px;
  letter-spacing: -1px;
  line-height: 46.2px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 0;
  margin-top: 0;
  text-size-adjust: 100%;
  width: 910px;
}

.ch-abs-full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cryptohub-logo {
  position: relative;
}

.cryptohub-logo h1 {
  color: #457b2a;
}

.cryptohub-tick {
  display: block;
  position: absolute;
  width: 3px;
  height: 36px;
  background: #457b2a;
  top: 6px;
  left: 13px;
}

.cryptohub-tick-2 {
  left: 19px;
}

#updated {
  position: absolute;
  top: 25px;
  right: 10px;
}

.cryptohub-analytics-priceGroup {}
.cryptohub-analytics-supplyGroup {}
.cryptohub-analytics-technicalGroup {}
.cryptohub-analytics-fundamentalsGroup {}
.cryptohub-analytics-linksGroup {}

.cryptohub-align-right > span,
.cryptohub-align-right > div {
  flex: 1;
  text-align: right;
}

.ch {
  line-height: 20px;
}

.cryptohub-cell-worst {
  background: rgba(216, 0, 0, 0.75)
}

.cryptohub-cell-bad {
  background: rgba(216, 0, 0, 0.5)
}

.ch-cell-active {
  background: #48a5e7;
  color: #fff;
}

.ch-cell-active .cryptohub-link {
  color: #fff;
}

.cryptohub-cell-default {}

.cryptohub-cell-good {
  background: rgba(0, 148, 26, 0.5)
}

.cryptohub-cell-best {
  background: rgba(0, 148, 26, 0.75)
}

.cryptohub-text-bad {
  color: #e00909;
}

.cryptohub-text-good {
  color: #019c0d;
}

.cryptohub-text-default {
  color: #000;
  transition: color 2s ease-out;
}

.cryptohub-text-good-fade {
  color: #019c0d;
}

.cryptohub-text-bad-fade {
  color: #e00909;
}

.cryptohub-cell-meter {
  height: calc(100% - 1px);
  background: #f7f7f7;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 1px;
  z-index: -1;
}

.cryptohub-cell-meter > span {
  display: block;
  height: 100%;
  background-color: #f0f0f0;
  position: relative;
  overflow: hidden;
}

.cryptohub-cell-old-data {
  opacity: 0.5;
}

/**
 *
 * LINKS
 *
 */

.cryptohub-link {
  color: #0000EE;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.cryptohub-link:hover {
  text-decoration: underline;
}

.cryptohub-link:active {
  color: #000;
}

.cryptohub-link:visited {
  color: #555;
}

/**
 *
 * ch-tippy-click-tradingview
 * Tippy click triggered popdiv
 *
 */
.ch-tippy-click-tradingview {
  background: #eee;
  border: 1px solid #3190e2;
  padding: 0;
  min-width: 640px;
  min-height: 320px;
  resize: both;
  position: relative;
  overflow: auto;
}

.ch-tippy-click-tradingview .ch-abs-full {
  bottom: 10px;
}

/**
 *
 * ch-tippy-click
 * Tippy click triggered popdiv
 *
 */
.ch-tippy-click {
  background: #fff;
}

.ch-tippy-click > header {
  position: sticky;
  top: 0px;
  background: #fff;
  z-index: 1;
  left: 0;
  right: 0;
  padding: 10px;
  border-bottom: 1px solid #f1f1f1;
}

.ch-tippy-click h3 {
  margin: 0;
  font-size: 18px;
}

.ch-tippy-click section {
  background: #fff;
  padding: 10px;
  min-height: 226px;
}

.ch-tippy-click footer {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #eee;
}

.ch-tippy-click header strong {
  font-weight: bold;
}

.ch-tippy-click a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.ch-tippy-click .ch-fiat {
  color: #189f1a;
}

.ch-tippy-click .fas {
  opacity: 0.33;
  padding-right: 5px;
}

.ch-tippy-click .fas:hover {
  opacity: 1;
}

.ch-tippy-click .ch-country {
  margin: 0 0 20px 0;
}

.ch-tippy-click .ch-country header {
  margin: 0 0 5px 0;
  font-weight: bold;
}

.ch-tippy-click .ch-country li {
  list-style: none;
  margin-left: 10px;
}

.ch-tippy-click .ch-country td:first-child {
  width: 150px;
}


/* .ch-tippy-click ul { */
/*   margin-left: 20px; */
/*   margin-right: 50px; */
/*   position: absolute; */
/*   top: 0; */
/*   right: 50%; */
/*   bottom: 0; */
/*   left: 20px; */
/* } */

/* .ch-tippy-click ul:last-child { */
/*   right: 20px; */
/*   left: 50%; */
/* } */

/* .ch-tippy-click li:last-child { */
/*   margin-bottom: 20px; */
/* } */




/**
 *
 *
 * COLUMNS
 *
 *
 */
.ch-numberofexchanges-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 11px 0 11px;
  line-height: 32px;
  outline: none;
}

/**
 *
 * Cryptohub Theme
 *
 */
.ag-theme-balham .ag-header {
  background: #a3b48f!important;
}

.ag-body-container {
  width: 100%!important;
}

.ag-theme-balham .ag-row-selected {
}

.ag-theme-balham .ag-row-selected {
  border-bottom-color: #d9dcde!important;
  background-color: #ECF0F1!important;
}

.CH-col {
  border-top: 2px solid #457b2a;
  background: rgba(69, 123, 42, 0.5);
  color: #fff;
  font-weight: 500;
}

.CH-col-fiat {
  border-top: 2px solid #457b2a;
  background: rgba(69, 123, 42, 0.5);
  color: #fff;
}

/*
 *
 * This won't work untill i setup the ag-grid build and use SASS to override the theme
 *
 */
.ag-theme-balham .ag-cell-data-changed {
  background-color: #fff600!important;
}

.ag-theme-balham .ag-cell {
  display: flex;
  align-items: center;
}

.ag-cell-data-changed-animation {}

/*
.ag-theme-balham .ag-cell-data-changed {
  background-color: #fff600;
}
.ag-theme-balham .ag-cell-focus {
    border: 1px solid #0091EA;
    outline: initial;
}
*/
