.cryptohub-analytics-priceGroup {
  background: #176087;
  color: #fff;
}

.cryptohub-analytics-supplyGroup {
  background: #189155;
  color: #fff;
}

.cryptohub-analytics-technicalGroup {
  background: #c18610;
  color: #fff;
}

.cryptohub-analytics-fundamentalsGroup {
  background: #871616;
  color: #fff;
}

.cryptohub-analytics-linksGroup {
  background: #601DAD;
  color: #fff;
}

.cryptohub-align-right {
  text-align: right;
}

.cryptohub-cell-worst {
  background: rgba(216, 0, 0, 0.75)
}

.cryptohub-cell-bad {
  background: rgba(216, 0, 0, 0.5)
}

.cryptohub-cell-default {}

.cryptohub-cell-good {
  background: rgba(0, 148, 26, 0.5)
}

.cryptohub-cell-best {
  background: rgba(0, 148, 26, 0.75)
}

.cryptohub-text-bad {
  color: #e00909;
}

.cryptohub-text-good {
  color: #019c0d;
}

.cryptohub-text-default {
  color: #000;
}

.cryptohub-text-good-fade {
  color: #019c0d;
  transition: background-color 2s ease-out;
}

.cryptohub-text-bad-fade {
  color: #e00909;
  transition: background-color 2s ease-out;
}
