div(class='CH-tippy-click CH-tippy-click-grid')

  header
    h3 #{name} Wallets
    // span <strong>#{total}</strong> wallets supported
    // br

  section(id=containerId class='ag-theme-balham')

  footer
